@charset "UTF-8";

body{
    background-color: #ff27f471;
}

h1{
    text-align: center;
    font-size: 30pt;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#musicas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#musicas iframe{
    border-radius: 40px;
}

#botao{
    border-radius: 20px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

a{
    text-decoration: none;
}